#bodyWrapper{
    width: 70%;
    margin: auto;
    background-color: #f2f2f2;
}

.body{
    width: 100%;
    /* margin: auto; */
    
    /* border: 1px solid red; */
}
#rimowa{
    cursor: pointer;
    margin-top: 30px;
    height: 400px;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
    background-image: url(https://cdna.lystit.com/1080/720/r/hero_card/2020/07/21/15-017351372.jpeg);
    
}
#rimowa>h1{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}
#rimowa>h5{

    text-align: center;
}
#rimowa>h5>a{
    text-decoration: underline;
    color: white;
}
#rimowa>h1>a{
    text-decoration: underline;
    color: white;
}
#trending{
    color: gray;

    margin-top: 20px;
    
}
#upperbody{
    background-color: white;
    padding-left: 2%;
    margin-top: 20px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
#bodyWrapper>h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#upperbody>div{
    cursor: pointer;
    display: flex;
    align-items: center;
}
#upperbody>div>img{
    width: 20px;
    height: 15px;
}
#upperbody>div>a{
    color: black;
    text-decoration: none;
}
#upperbody>div>a:hover{
    text-decoration: underline;
}
#middlebody{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
}
#middlebody>div{
    background-color: white;
}
#middlebody>div>div>img{
    width: 100%;
}
#middlebody>div>div>p>a{
    color: black;
    text-decoration: none;
}
#middlebody>div>div>p>a:hover{
    text-decoration: underline;
}
#middlebody>div>div>h3>a{
    color: black;
    text-decoration: none;
}
#middlebody>div>div>h3>a:hover{
    text-decoration: underline;
}
.info{
    padding: 4%;
    box-sizing: border-box;
}
#lowerbody{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
}
#lowerbody>div{
    background-color: white;
}
#lowerbody>div>div>img{
    width: 100%;
}
#lowerbody>div>div>p>a{
    color: black;
    text-decoration: none;
}
#lowerbody>div>div>p>a:hover{
    text-decoration: underline;
}
#lowerbody>div>div>h3>a{
    color: black;
    text-decoration: none;
}
#lowerbody>div>div>h3>a:hover{
    text-decoration: underline;
}
.info{
    padding: 4%;
    box-sizing: border-box;
}

@media only screen and (min-width:70px)and (max-width:990px){
    #upperbody{
        grid-template-columns: repeat(1,1fr);
    } 
    #upperbody>div>h3{
        font-size: 20px;
    }
    #middlebody{
        grid-template-columns: repeat(2,1fr);
    }
    #lowerbody{
        grid-template-columns: repeat(2,1fr);  
    }
    #rimowa>h1{
        font-size: 28px;
    }
}


