body {
    font-family: "Lato", sans-serif;
  }

  #monster {
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
  }
  #pageHeading {
  width: 100%;
  padding-left: 10% ;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
  }
  #pageHeading>p{
    font-size: 45px;
    font-weight: bold;
  }

  #home {
    display: flex;
    gap: 5px;
  }
  #bigmonster{
    width: 100%;
    border: 1px dotted lightgray;
    display: flex;
    gap: 1%;
    margin-top: 20px;
  }
  #bigmonster>#leftsideBigmonster{
    cursor: pointer;
    font-size: 12px;
    width: 20%;
    /* border: 1px dotted lightgray; */
    /* padding: 10px; */
    box-sizing: border-box;
  }
  #leftsideBigmonster>div>img{
    width: 100%;
  }
  #leftsideBigmonster>div{
    padding-left: 10px;
    padding-right: 10px;
  }
  #leftsideBigmonster>div>p{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #bigmonster>#rightsideBigmonster{
    width: 80%;
    display: flex;
    /* border: 1px dotted lightgray; */
    gap: 1%;
    cursor: pointer;
  }
  
  #rightsideBigmonster>#rightsideImage{
    width: 100%;
  }
  #rightsideBigmonster>#rightsideImage>img{
    width: 100%;
  }

  #smallmonster {
    display: flex;
    gap: 1%;
    margin-top: 20px;
  }

  #leftsidemonster {
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    overflow: scroll ;
    flex-direction: column;
  }

  #rightsidemonster {
    /* border: 1px solid red; */
    width: 80%;
    padding: 0px 20px;
  }
  .leftSelectName {
    /* border: 1px solid red; */
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
   gap: 20%;
   border-bottom: 1px solid black;
  }
  .leftSelectName>div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftSelectName>div>h6{
    font-weight: bold;
  }

  .leftSort {
    width: 100%;
    /* height: 30px; */
    font-weight: 550;
    margin-top: 20px;
    font-size: 17px;
    /* border: none; */
    /* background-color: #f5f5f5; */
    border-radius: 3px;
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1.5px solid black;
  }
  .top{
    margin-top: 20px;
    font-weight: bold;
  }
  .top:hover{
    text-decoration: underline;
  }

  option {
    font-weight: 300;
    font-size: 18px;
  }

  /* ======================right monster */
#rockymonster{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  gap: 35%;
  align-items: center;
}
#titalCloths {
  font-size: 40px;
  /* text-decoration: line-through; */
}

  #sort {
    width: 78%;
    height: 35px;
    font-size: 17px;
    margin-left: 15px;
  }

  
  #rockybhai {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
  }

   #displayProducts{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: auto;
   }